@model EntrantsApplication.Domain.Entities.Entrant

@{
    ViewBag.Title = "Full Entrant Information";
}

<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Styles.css" rel="stylesheet" />
</head>

<body>
    <div class="panel-body">
        <div class="text-center" style="display: flex; flex-direction: column; align-items: center;">
            <h1>
                @Html.DisplayFor(modelItem => Model.Name)
                @Html.DisplayFor(modelItem => Model.SecondName)
                @Html.DisplayFor(modelItem => Model.Surname)
                Full Information
            </h1>
            <div class="form-container" style="width: 220px; display: flex; justify-content: space-around;">

                @using (Html.BeginForm("EditEntrant", "Entrants", new { entrantId = Model.EntrantId }))
            {
                @Html.HiddenFor(modelItem => Model.EntrantId)
                <input style="margin-right:20px" type="submit" class="btn-success" value="Edit" />
        }
                @using (Html.BeginForm("DeleteEntrant", "Entrants", new { entrantId = Model.EntrantId }))
            {
                @Html.HiddenFor(modelItem => Model.EntrantId)
                <input type="submit" class="btn-success" value="Delete" />
        }
            </div>

        </div>



        <h3>Personal Information</h3>
        <div class="info-table">
            <table class="table table-bordered">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Second Name
                    </th>
                    <th>
                        Surname
                    </th>
                    <th>
                        Date of The Birth
                    </th>
                    <th>
                        Mobile Phone
                    </th>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.SecondName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.DateOfTheBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.MobilePhone)
                    </td>
                </tr>
            </table>
            <table class="table table-bordered">
                <tr>
                    <th>
                        Home Address
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.HomeAddress)
                    </td>
                </tr>
            </table>
        </div>

        <h3>Educational Information</h3>
        <div class="info-table">
            <table class="table table-bordered">
                <tr>
                    <th>
                        Speciality
                    </th>
                    <th>
                        School Name
                    </th>
                    <th>
                        Year of Finishing the School
                    </th>
                    <th>
                        The Average School Score
                    </th>
                    <th>
                        Foreign Language
                    </th>
                    <th>
                        The Need of Dormitory
                    </th>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Speciality)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.School)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.YearOfFinishingTheSchool)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AverageSchoolScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ForeignLanguage)
                    </td>
                    <td>
                        @if (Model.NeedsDormitory)
                    {
                        @:In Need
                }
                else
                {
                    @:No Need
}
                    </td>
                </tr>

            </table>
        </div>
        @if (Model.HasPrivileges)
    {
        <p></p>
        <h3>Privileges</h3>
        <div style="margin-left:25%; font-size:medium">
            @Html.DisplayFor(modelItem => Model.Privileges)
        </div>
}

        @if (Model.HasMother)
    {
        <h3>Entrant's Mother Information</h3>
        <div class="info-table">
            <table class="table table-bordered">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Second Name
                    </th>
                    <th>
                        Surname
                    </th>
                    <th>
                        The Date of The Birth
                    </th>
                    <th>
                        Mobile Phone
                    </th>
                    <th>
                        Place of Work
                    </th>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.MotherName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.MotherSecondName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.MotherSurname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.MotherDateOfTheBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.MotherMobilePhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.MotherPlaceOfWork)
                    </td>
                </tr>

            </table>
            <table class="table table-bordered">
                <tr>
                    <th>
                        Home Address
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.MotherHomeAddress)
                    </td>
                </tr>
            </table>
        </div>
}

        @if (Model.HasFather)
    {
        <h3>Entrant's Father Information</h3>
        <div class="info-table">
            <table class="table table-bordered">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Second Name
                    </th>
                    <th>
                        Surname
                    </th>
                    <th>
                        The Date of The Birth
                    </th>
                    <th>
                        Mobile Phone
                    </th>
                    <th>
                        Place of Work
                    </th>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.FatherName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.FatherSecondName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.FatherSurname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.FatherDateOfTheBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.FatherMobilePhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.FatherPlaceOfWork)
                    </td>
                </tr>

            </table>
            <table class="table table-bordered">
                <tr>
                    <th>
                        Home Address
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.FatherHomeAddress)
                    </td>
                </tr>
            </table>
        </div>
            }
        </div>
</body>
