@using EntrantsApplication.WebUI.Models.ListView_Models
@model IEnumerable<ListViewEntrant>

@{
     ViewBag.Title = "List";
}
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <script src="~/Scripts/FilterTree.js"></script>

</head>
<body onload="showTree(), checkedNode()">
    <script src="~/Scripts/FilterTreeView.js"></script>
    <div class="content">
        <h3 style="margin-left:20px; text-align:left; font-weight:400">
            <a>@Html.ActionLink("Return to Main Menu", "MainMenu")</a>
        </h3>
        <div style="margin-top: -65px; display: flex; justify-content: center;">
            <h1 style="text-align: center" onclick="ads()">List of the Entrants</h1>
        </div>
        
        <p id="filterAction" style="text-align:center; font-size:20px; font-weight:500" onclick="ShowOrHideTreeView()">Show List Filter</p>

        <script>
            function checkedNode() {              
                $("#submitBtn").click(function () {
                    $.ajax({
                        type: "POST",
                        async: true,
                        url: "/Entrants/List",
                        data: JSON.stringify($("#jstree").jstree("get_checked", null, true)),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: successTree,
                        error: function () {
                            alert("Error!");
                        }
                    });
                } )
            }
        </script>
        <div>
            <div id="filterTreeView" style="float:left; width:30%; padding-right:10px; display:none">
                <p style="margin-left:20px; font-size:20px; font-weight:700">Filter</p>
                <div style="margin-left:20px" id="jstree"></div>
                <div style="margin-bottom:20px;">
                    <input type = "submit" id = "submitBtn" style = "margin-left:40%; margin-top:10px" value = "Submit" />                     
                </div>
            </div>
            <div id="entrantsList" style="float:right; width:100%">
                @foreach (var item in Model)
                {
                <div style="background-color : lightblue; font-size:20px; font-weight:700; text-align:center; margin-bottom:30px">
                    <div style="font-size:30px">
                        @Html.DisplayFor(modelItem => item.EntrantName)
                    </div>
                    <p>@Html.DisplayFor(modelItem => item.EducationFee)</p>
                    <p>@Html.DisplayFor(modelItem => item.Speciality)</p>
                    @using (Html.BeginForm("FullEntrantInformation", "Entrants",
new { entrantId = item.EntrantId }))
    {
                <div>
                    @Html.HiddenFor(modelItem => item.EntrantId)
                    <input type="submit" value="Watch" />
                    <p>@Html.ActionLink("Show Info Bellow", "List", new { entrantId = item.EntrantId })</p>
                </div>
}
                </div>

                    if (item.SelectedEntrant)
                                    {
                        <h3>
                            Personal Information
                        </h3>
                        <div class="form-list-group">
                            <p>Name: @Html.DisplayFor(x => item.EntrantName, new { @class = "form-control" }) </p>
                            <p>Date of The Birth: @Html.DisplayFor(x => item.DateOfTheBirth, new { @class = "form-control" }) </p>
                            <p>Home Address: @Html.DisplayFor(x => item.HomeAddress, new { @class = "form-control" })</p>
                            <p>Mobile Phone: @Html.DisplayFor(x => item.MobilePhone, new { @class = "form-control" })</p>
                        </div>

                        <h3>
                            Educational Information
                        </h3>

                        <div class="form-list-group">
                            <p>Education Fee: @Html.DisplayFor(x => item.EducationFee, new { @class = "form-control" }) </p>
                            <p>Chosen Speciality: @Html.DisplayFor(x => item.Speciality, new { @class = "form-control" }) </p>
                            <p>Finished School Name: @Html.DisplayFor(x => item.School, new { @class = "form-control" })</p>
                            <p>Year of Finishing The School: @Html.DisplayFor(x => item.YearOfFinishingTheSchool, new { @class = "form-control" })</p>
                            <p>The Average School Score: @Html.DisplayFor(x => item.AverageSchoolScore, new { @class = "form-control" }) </p>
                            <p>Learned Foreign Language: @Html.DisplayFor(x => item.ForeignLanguage, new { @class = "form-control" })</p>
                            <p>
                                Need in dormitory:
                                @if (item.NeedsDormitory)
        {
                        @:In Need
}
else
{
                        @:No Need
}
                            </p>
                        </div>

                        <h3>
                            Privileges
                        </h3>
                        <div class="form-list-group">
                            @if (item.HasPrivileges)
                            {
                                @Html.DisplayFor(modelItem => item.Privileges);
                            }
                            else
                            {
                                <p>The entrant hasn't got any privileges.</p>
                            }
                        </div>
                    }
                }
            </div>
            <div style="clear:both">

            </div>
        </div>


    </div>

</body>
</html>

